html,body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #333;
	
	height: 100%;
	box-sizing: border-box; /* Asegurar que el padding no se sume al alto total */
	display: flex;
	flex-direction: column;
	overflow: hidden; /* Evitar scroll en el cuerpo de la página */

  }
/*   
  nav {
	background-color: #333;
	color: #fff;
	padding: 0.5em;
	flex-shrink: 0; 

  }
  
  nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  nav ul li {
	margin-right: 1em;
	padding: 10px;
	flex-shrink: 0; 
  }
  
  nav ul li button {
	background-color: #444;
	color: #fff;
	border: none;
	padding: 0.5em 1em;
	cursor: pointer;
  }
  
  nav ul li button:hover {
	background-color: #555;
  } */
  
  #console {
	padding: 0.5em;
	flex-grow: 1;
      overflow-y: auto; /* Permitir scroll si es necesario */
      box-sizing: border-box; /* Incluir padding dentro del cálculo de altura */
      display: flex;
      flex-direction: column;
      justify-content: flex-start; /* Mantener el contenido en la parte superior */
  }
  
  #output {
	color: #fff;
	background-color: #333;
	border: 1px solid #ccc;
	padding: 0.5em;
	white-space: pre-wrap;
      word-wrap: break-word; /* Ajustar texto largo */
      flex-grow: 1; /* Asegura que el pre ocupe todo el espacio disponible */
      margin: 0;
  }

  footer {
	padding: 0.5em;
	text-align: center;
	flex-shrink: 0; /* Evitar que el footer se reduzca */
	color: #fff;
  }
  .container {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden; /* Evitar que el contenedor cree scroll extra */
  }

  nav {
    background-color: #333;
    color: #fff;
    padding: 0.5em;
    display: flex;
    justify-content: space-between; /* Alinear el contenido del nav en ambos extremos */
    align-items: center; /* Centrar verticalmente */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1em;
    padding: 10px;
}

nav ul li button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

nav ul li button:hover {
    background-color: #555;
}

#divSeleccionado {
    padding: 0.5em 1em;
    margin-left: auto; 
	color: #FF7700;
}

#trabajoSeleccionado {
	color: #00FF00;
    padding: 0.5em 1em;
	margin-left: 0.5rem;
}
  